{% extends 'main.html' %}
{% block contenu %}
<div class="row justify-content-center" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
    <div class="col-md-6">
        <div class="card card-body" style="background:linear-gradient(to top left,black,white)">
<p>Voulez-vous supprimer cette commande?</p>
<form action="{% url 'supprimer_commande' item.id %} " method="POST">
    {% csrf_token%}
    <a class="btn btn-warning" href="{% url 'home' %}">Annuler</a>
    <input class="btn btn-danger" type="submit" name="Confirmer" value="Confirmer">
</form>
            </div>
        </div>
    </div>
{% endblock %}