<div class="card text-center bg-dark text-white shadow-sm" style="border: 1px solid; position: fixed; bottom: 0; width: 100%; padding: 10px 0; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-2">
                <h5>WAHHABSHOP</h5>
                <p>© 2024 WAHHABSHOP. Tous droits réservés.</p>
            </div>
            <div class="col-md-4 mb-2">
                <h5>Contact</h5>
                <a href="mailto:abderrahim.ouahab23@ump.ac.ma" class="text-white me-2"><p>Email: abderrahim.ouahab23@ump.ac.ma</p></a>
                <p>Téléphone: +212632394897</p>
            </div>
            <div class="col-md-4 mb-2">
                <h5>Suivez-nous</h5>
                <a href="https://www.facebook.com/Abderrahim.ouaahab" target="_blank" class="text-white me-2"><i class="fab fa-facebook-f"></i></a>
                <a href="https://twitter.com/Abderrahimob04" target="_blank" class="text-white me-2"><i class="fab fa-twitter"></i></a>
                <a href="https://www.instagram.com/wahhab.04/" target="_blank" class="text-white me-2"><i class="fab fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/abderrahim-ouahab-986659257" target="_blank" class="text-white"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
    </div>
</div>

<style>
    .card {
        background: linear-gradient(360deg, black, rgb(0, 145, 255));
        border-color: #444;
    }

    .card h5 {
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: bold;
    }

    .card p {
        margin-bottom: 5px;
        font-size: 14px;
    }

    .card a {
        font-size: 20px;
        transition: background-color 0.8s, color 0.8s; /* Transition pour le changement de couleur */
    }

    .card a:hover {
        background: linear-gradient(to top left, beige, white); /* Changement de couleur au survol */
        color: black;
    }

    .container {
        max-width: 960px;
    }

    @media (max-width: 576px) {
        .card {
            text-align: center;
        }

        .container {
            padding: 0 15px;
        }
    }
</style>
